.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.tskWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.wrapper:hover {
  box-shadow: 0 0 6px 1px #666;
  cursor: pointer;
}

.context {
  font-size: 12px;
  color: #999;
  padding-left: 25px;
}

.tsk {
  margin-top: 5px;
}