.input {
  width: 100%;
  padding: 5px;
  border: 0;
  background-color: #555;
  color: #fff;
  height: 25px;
}

.input::-webkit-input-placeholder {
  color: var(--subtext-color);
}

.input::-moz-placeholder {
  color: var(--subtext-color);
}

.input::-ms-placeholder {
  color: var(--subtext-color);
}

.input::placeholder {
  color: var(--subtext-color);
}

.mediumInput {
  width: 300px;
}

.smallInput {
  max-width: 150px;
}
