.baseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--hover-color);
}

.button {
  height: 25px;
  width: 140px;
}

.smallButton {
  height: 15px;
  min-width: 60px;
  font-size: 12px;
  line-height: 0.5;
}
