:root {
  --bg-color: #18181a;
  --text-color: #fff;
  --subtext-color: #b6b6b6;
  --hover-color: #666;
  --line-color: #444;
  --done-color: #999;
  --success-border-color: #3EAF3F;
  --success-bg-color: #102D10;
  --error-border-color: #FF6058;
  --error-bg-color: #471816;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

