.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px dashed var(--bg-color);
}

.tskWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-bottom: 5px;
}

.wrapper:hover {
  cursor: pointer;
  border-color: var(--hover-color);
}

.context {
  font-size: 12px;
  color: #999;
  padding-left: 25px;
}

.tsk {
  margin: 0;
}

.tskDone {
  color: var(--done-color);
}
